/*INTENTA NO MOVER LA ALTURA, Y SI LA VAS A MOVER, HAS QUE ABARQUE TODO LO QUEE PUEDA*/
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

ul {
  padding: 0;
  margin-bottom: 1px;
}
li {
  list-style: none;
}

/*INTENTA NO MOVER ESTO, ES LO QUE HACE QUE VAYAN HACIA ABAJO EL CONTENEDOR-MEDIO, Y INDICE*/
body,
.contenedor-medio {
  flex-direction: column;
}

.contenedor-medio {
  align-items: center;
  background-color: rgba(214, 195, 195, 0.548);
  border: 0.5em rgb(124, 184, 241) solid;
  border-radius: 1em;
  padding-top: 40px;
  gap: 25px;
}

/*MUEVE LO QUE QUIERAS MENOS EL FLEX AUTO, ESO DEBES DEJARLO COMO ESTA*/
main {
  padding: 1px 0px 40px 0px;
  flex: auto;
  gap: 40px;
}

@media (max-width: 767px) {
  main {
    padding: 0;
  }
}

/*INTENTA NO MOVER ESTO, ES PARTE DE LO QUE MEE PERMITE ALINEAR EL CONTENEDOR-MEDIO, CON INDICE, Y EL CONTENIDO MEDIO*/
body,
main,
.indice,
.contenedor-medio,
.ordenar {
  display: flex;
}

/*INTENTA NO MOVER ESTO, ES LO QUE HACE QUE TEXTO-INDICE ABARQUE EL TAMAÑO DE INDICE, Y CONTENEDOR MEDIO TODA LA IZQUIERDA*/
.contenedor-medio,
.texto-indice {
  flex: 1;
}

.ordenar {
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

@media (max-width: 767px) {
  .contenedor-medio {
    padding: 5px 5px;
    gap: 10px;
  }
}

/*CONTENIDO DEL CONTENDOR DEL MEDIO, METE TODOS TUS DIVS AQUI Y DEJALOS EN AUTO PARA QUE SE AJUSTE AL CONTENIDO*/
.texto {
  height: auto;
  width: 350px;
  border: 4px solid #2e58af;
  border-radius: 0.5em;
  background-color: #ffffff;
  padding: 5px 10px;
}

@media (max-width: 767px) {
  .texto {
    border: 5px solid rgba(47, 47, 53, 0.74);
    border-radius: 1em;
    font-size: 0.95em;
  }
}

.texto-bienvenida {
  height: auto;
  border-radius: 6em 0 6em 0;
  background-color: #ffffff;
  padding: 5px 10px;
  width: 800px;
}

@media (max-width: 767px) {
  .texto-bienvenida {
    border-radius: 5em 0 5em 0;
    font-size: 0.95em;
    width: auto;
  }
}

/*CONTENIDO DEL INDICE*/
.texto-indice {
  border: 2px solid orangered;
  padding: 20px;
}

/*TAMAÑO DEL INDICE*/
.indice {
  padding: 20px;
  background-color: #ffffff;
}

.img_banner {
  display: block;
  width: 80%;
  height: 50px;
  margin: 0 auto; /* Centrar la imagen horizontalmente */
}

#menu {
  position: sticky;
  top: 20px; /* Límite superior del contenedor */
  bottom: 20px; /* Límite inferior del contenedor */
  padding: 10px;
  border-radius: 5px;
  height: 800px;
}

#menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu li {
  margin-bottom: 5px;
}

#menu a {
  text-decoration: none;
}

#menu label {
  display: block;
}

.dropdown-menu.show {
  display: block;
}

/* Añade un nuevo contenedor para el índice y el texto de arriba */
.contenedor-superior {
  display: flex;
}

/* Establece la dirección de la columna para el contenedor-superior en pantallas más grandes */
@media (min-width: 992px) {
  .contenedor-superior {
    flex-direction: column;
  }
}

/* Mueve el estilo del banner a la nueva columna */
.banner {
  border: 2px solid green;
  padding: 20px;
  flex: 1;
}

/* Establece el ancho del índice y el texto de arriba */
.indice,
.texto-indice {
  width: 214px;
}

.indice,
.texto-indice,
.texto,
.contenedor-navbar {
  font-size: 1em;
}

/* Tamaño de fuente para pantallas de 1080px o más */
@media (min-width: 1820px) {
  .indice,
  .texto-indice,
  .texto,
  .contenedor-navbar {
    font-size: 1.2em; /* Ajusta aquí el tamaño de fuente deseado */
  }
}

/* Establece el ancho del índice y el texto de arriba */
.indice,
.texto-indice {
  width: 214px;
}

.logos {
  height: 6em;
  margin-left: 50px;
  margin-right: 50px;
  margin: 5px 50px 5px 50px;
}

@media (max-width: 767px) {
  .logos {
    height: 4em;
  }
}

.contenedor-navbar {
  background-color: #ffffff;
}

@media (min-width: 1820px) {
  .contenedor-navbar {
    padding: 0.6em 0 0.6em 0;
    font-size: 1.4em;
  }
}

li > a {
  font-size: 1.2em;
  padding-left: 0.8em;
}

div > aside > h3 {
  margin-bottom: 20px;
}

p > span:not(.bienvenida, .titulo),
div:not(.bienvenida, .titulo) > span {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  font-size: 0.9em;
  line-height: 1.2;
  color: #6f6f6f;
}

.titulo {
  text-align: center;
  font-size: 1em;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  line-height: 1.2;
  font-weight: 500;
}

@media (max-width: 767px) {
  div:not(.bienvenida) > span {
    text-align: center;
  }
}

.bienvenida {
  text-align: center;
  font-size: 2em;
  color: #2e58af;
  font-weight: 700;
}

@media (max-width: 767px) {
  .bienvenida {
    font-size: 1.5em;
  }
}
