/* Reset de estilos básicos */
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

/* Eliminación de viñetas de listas */
ul {
  padding: 0;
  margin-bottom: 1px;
}
li {
  list-style: none;
}

h1 {
  display: flex;
}

span {
  display: flex;
  justify-content: center;
}

span img {
  width: 100px;
}

.year p {
  display: flex;
  flex-direction: row;
}

/* Estilos para el diseño principal */
/* Establece la dirección de la columna para el cuerpo y el contenedor-medio */
body,
.contenedor-medio {
  flex-direction: column;
}

/* Estilos específicos del contenedor-medio */
.contenedor-medio {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  gap: 25px;
}

/* Estilos del pie de página */
.footer {
  background-color: #2e58af;
  margin: 0;
  padding: 0;
  height: 120px;
  display: flex;
  align-items: center;
}

/* Estilos para contenedor-fluid */
.container-fluid {
  padding: 0;
}

/* Estilos para el contenido principal */
/* Ajusta el tamaño del contenido principal */
main {
  flex: auto;
  gap: 40px;
  border-top: 0.25em #2e58af solid;
  background-image: url(../img/fondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
}

/* Estilos para alinear el contenedor-medio, el índice y el contenido principal */
body,
main,
.indice,
.contenedor-medio,
.ordenar {
  display: flex;
}

/* Ajusta el tamaño del contenedor-medio y el texto del índice */
.contenedor-medio,
.texto-indice {
  flex: 1;
}

/* Estilos específicos para el ordenar */
.ordenar {
  flex-wrap: wrap;
  gap: 20px 25px;
  justify-content: center;
}

.clasificar span {
  padding-right: 15px;
}

/* Estilos para el texto de los cuadros dentro del contenedor-medio */
.texto {
  width: 350px;
  border: 2px solid black;
  border-radius: 0.5em;
  background-color: #fffffff2;
  padding: 5px 10px;
  min-height: 250px;
  transition: 0.3s;
}

.texto:hover {
  cursor: pointer;
  background-color: rgb(206, 206, 206);
  transform: scale(1.05);
}
.texto:not(:hover) {
  transition-duration: 0.3s;
  transform: scale(1);
}

.texto-teg {
  font-size: 1.5em;
  border: 2px solid black;
  border-radius: 0.5em;
  background-color: #fffffff2;
  padding: 30px;
  margin-bottom: 20px;
  min-height: 250px;
  max-width: 50em;
}

.ordenar-teg {
  padding: 0 20px 0 20px;
}

/* Ajusta el tamaño del texto de los cuadros en pantallas medianas */
@media (max-width: 1680px) {
  .texto {
    width: 280px;
    min-height: 220px;
  }
  .texto-teg {
    min-height: 220px;
  }
}

/* Estilos para los textos de bienvenida y categoría */
.texto-bienvenida,
.texto-categoria {
  height: auto;
  border-radius: 6em;
  background-color: #fefefe6e;
  padding: 25px;
  margin: 10px;
  width: auto;
}

/* Estilos para el texto del índice */
.texto-indice {
  border: 2px solid orangered;
  padding: 20px;
}

/* Estilos para el contenedor del índice */
.indice {
  padding: 20px;
  background-color: #ffffff;
  border-right: 1px solid black;
  text-shadow: grey 1px 1px 1px;
}

/* Estilos para la imagen del banner */
.img_banner {
  display: block;
  width: 80%;
  height: 50px;
  margin: 0 auto; /* Centrar la imagen horizontalmente */
}

/* Estilos para el menú */
#menu {
  position: sticky;
  top: 20px; /* Límite superior del contenedor */
  bottom: 20px; /* Límite inferior del contenedor */
  padding: 10px;
  border-radius: 5px;
  height: 800px;
}

#menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu li {
  margin-bottom: 5px;
}

#menu a {
  text-decoration: none;
}

#menu label {
  display: block;
}

/* Estilos para el contenedor superior */
.contenedor-superior {
  display: flex;
}

@media (min-width: 990px) {
  /* Ajusta la dirección de la columna para el contenedor-superior en pantallas grandes */
  .contenedor-superior {
    flex-direction: column;
  }
}

/* Estilos para el banner */
.banner {
  width: 800px;
  margin-left: 20px;
  margin-right: 20px;
}

.banner-img {
  height: 100%;
  width: 100%;
  align-self: center;
}

/* Ajusta el tamaño del índice y el texto del índice */
.indice,
.texto-indice {
  width: 214px;
}

/* Ajusta el tamaño de fuente para algunos elementos */
.indice,
.texto-indice,
.texto,
.contenedor-navbar {
  font-size: 1em;
}

@media (max-width: 1820px) {
  /* Ajusta el tamaño de fuente para pantallas más pequeñas */
  .texto-teg {
    font-size: 1.2em;
  }
}

@media (min-width: 1820px) {
  /* Ajusta el tamaño de fuente para pantallas grandes */
  .indice,
  .texto-indice,
  .texto,
  .contenedor-navbar {
    font-size: 1.2em; /* Ajusta aquí el tamaño de fuente deseado */
  }

  /* Ajusta el padding y el tamaño de fuente del contenedor-navbar en pantallas grandes */
  .contenedor-navbar {
    padding: 0.1em 0 0.1em 0;
    font-size: 1.4em;
  }
}

/* Estilos para el logotipo */
.logos {
  height: 11em;
  align-self: center;
}

/* Estilos para el contenedor del navbar */
.contenedor-navbar {
  background-color: #ffffff;
}

/* Ajusta el tamaño de fuente y el padding de los enlaces en la lista */
li > a {
  font-size: 1.2em;
  padding-left: 0.8em;
}

/* Ajusta el margen inferior del encabezado */
div > aside > h3 {
  margin-bottom: 20px;
}

/* Ajusta el margen de los párrafos y los spans */
p > span:not(.bienvenida, .titulo),
div:not(.bienvenida, .titulo, .categoria) > span {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  font-size: 0.9em;
  line-height: 1.2;
  color: #6f6f6f;
}

/* Estilos para los títulos */
.titulo {
  text-align: center;
  font-size: 1em;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  line-height: 1.2;
  font-weight: 500;
}

@media (max-width: 990px) {
  /* Ajusta el tamaño del logotipo en pantallas medianas */
  .logos {
    height: 8em !important;
  }
}

@media (max-width: 767px) {
  /* Ajusta el padding del contenido principal en pantallas pequeñas */
  main {
    padding: 0;
  }
  /* Ajusta el tamaño del texto de los cuadros en pantallas pequeñas */
  .texto {
    width: auto;
    min-width: 310px;
    max-width: 310px;
    border: 2px solid black;
    border-radius: 1em;
    font-size: 0.95em;
  }
  /* Ajusta el padding y el gap del contenedor-medio en pantallas pequeñas */
  .contenedor-medio {
    padding: 5px 5px;
    gap: 10px;
  }
  /* Ajusta el alineado del texto en pantallas pequeñas */
  div:not(.bienvenida) > span {
    text-align: center;
  }
  /* Ajusta el tamaño del texto de bienvenida y categoría en pantallas pequeñas */
  .bienvenida,
  .categoria {
    font-size: 1.2em !important;
  }
  /* Ajusta el tamaño del texto de bienvenida y categoría en pantallas pequeñas */
  .texto-bienvenida,
  .texto-categoria {
    border-radius: 2.5em 0 2.5em 0;
    font-size: 0.95em;
    width: auto;
  }
  /* Ajusta el tamaño del logotipo en pantallas pequeñas */
  .logos {
    height: 5em;
  }
  /* Ajusta el tamaño de fuente para pantallas más pequeñas */
  .texto-teg {
    font-size: 0.95em;
    padding: 5px 10px 20px 5px;
  }
}

/* Estilos para el texto de bienvenida y categoría */
.bienvenida,
.categoria {
  text-align: center;
  font-size: 2em;
  color: black;
  text-shadow: grey 1px 1px 1px;
  font-weight: 700;
}

.pdf {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  width: auto;
}
.pdf img:hover,
.pdf p:hover {
  color: #2e58af;
  cursor: pointer;
}

/* CSS */
.button-10 {
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
