.errorCustom {
  display: block; /* Asegura que los elementos sean bloques */
  text-align: center; /* Centra el texto dentro del elemento */
  margin-top: 5px; /* Añade un margen superior para separar los mensajes de error */
  color: red; /* Color de texto del mensaje de error */
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spin {
  -moz-appearance: textfield;
}

/* CSS */
.button-10,
#boton-indice {
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus,
#boton-indice:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

header {
  padding: 0.2em 10em;
}

/* Estilos para el logotipo */
.logos {
  height: 11em;
  align-self: center;
}
@media (max-width: 990px) {
  /* Ajusta el tamaño del logotipo en pantallas medianas */
  .logos {
    height: 8em;
  }
  header {
    padding: 0.2em 2em;
  }
}
